<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>KPMCargo - Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link th:href="@{'/assets/css/styles.css'}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/home}">KPMCargo</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

    </div>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" th:href="@{/home}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Tambah Data Transaksi</h1>
                <br/>
                <div id="content">
                    <form id="form" action="#"
                          th:action="@{/transactions/add}" method="POST" class="row g-3 needs-validation">
                        <div th:if="${result!=null AND result.hasErrors()}">
                            <h5>
                                <i class="glyphicon glyphicon-exclamation-sign"></i> Error
                                Message :
                            </h5>
                            <ul>
                                <li th:each="err : ${result.allErrors}"
                                    th:text="${err.defaultMessage}">Input is incorrect
                                </li>
                            </ul>
                        </div>
                        <div class="mb-3">
                            <label for="receiptNumberId" class="form-label">No Resi</label>
                            <input name="receiptNumber" class="form-control" id="receiptNumberId">
                            <ul th:if="${result!=null AND result.hasErrors()}">
                                <li th:each="err : ${result.getFieldErrors('receiptNumber')}" th:text="${err.defaultMessage}" class="error" />
                            </ul>
                        </div>
                        <div class="mb-3">
                            <label for="descriptionId" class="form-label">Deskripsi</label>
                            <textarea name="description" class="form-control" id="descriptionId"
                                      rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="senderId" class="form-label">Nama Pengirim</label>
                            <input type="sender" class="form-control" id="senderId">
                        </div>
                        <div class="mb-3">
                            <label for="senderPhoneId" class="form-label">Telp Pengirim</label>
                            <input type="senderPhone" class="form-control" id="senderPhoneId">
                        </div>
                        <div class="mb-3">
                            <label for="receiverId" class="form-label">Nama Penerima</label>
                            <input type="receiver" class="form-control" id="receiverId">
                        </div>
                        <div class="mb-3">
                            <label for="receiverPhoneId" class="form-label">Telp Penerima</label>
                            <input type="receiverPhone" class="form-control" id="receiverPhoneId">
                        </div>
                        <div class="mb-3">
                            <label for="receiverAddressId" class="form-label">Alamat Penerima</label>
                            <textarea name="receiverAddress" class="form-control" id="receiverAddressId" rows="3">
                                </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="shippingCostId" class="form-label">Ongkir</label>
                            <input type="shippingCost" class="form-control" id="shippingCostId">
                        </div>
                        <div class="form-check">
                            <input name="status" class="form-check-input" type="radio" value="" id="flexCheckDefault"
                                   checked>
                            <label class="form-check-label" for="flexCheckDefault">
                                In Progress
                            </label>
                        </div>
                        <div class="form-check">
                            <input name="status" class="form-check-input" type="radio" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Delivered
                            </label>
                        </div>
                        <br/>
                        <div class="mb-3">
                            <button class="btn btn-primary" type="submit">Submit form</button>
                        </div>

                        </section>
                    </form>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your KPMCargo 2022</div>

                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script th:src="@{'/assets/js/scripts.js'}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script th:src="@{'/assets/js/datatables-simple-demo.js'}"></script>
</body>
</html>
