<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>KPMCargo - Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link th:href="@{'/assets/css/styles.css'}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/home}">KPMCargo</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

    </div>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Menu</div>
                    <a class="nav-link" th:href="@{/}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link" th:href="@{/home}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Transaksi
                    </a>
                </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Daftar Data Transaksi</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Daftar Data
                    </div>

                    <div class="card-body">
                        <div class="dataTable-top">
                            <div class="dataTable-search">
                                <form th:action="@{/transactions}" method="get">
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="query" placeholder="No Resi...">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                        <a type="reset" class="btn btn-secondary" th:href="@{/transactions}">Reset</a>
                                        <a th:href="@{/transactions/add}" class="btn btn-success"> Tambah Data</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <table class="table table-bordered table-responsive">
                            <thead>
                            <tr>
                                <th>No. Resi</th>
                                <th>Tanggal</th>
                                <th>Keterangan</th>
                                <th>Pengirim</th>
                                <th>Penerima</th>
                                <th>Alamat Tujuan</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="transaction, iStat : ${transactionPage.content}"
                                th:style="${iStat.odd}? 'font-weight: bold;'"
                                th:alt-title="${iStat.even}? 'even' : 'odd'">
                                <td th:text="${transaction.receiptNumber}"/>
                                <td th:text="${transaction.createdDateFormatted}"/>
                                <td th:text="${transaction.description}"/>
                                <td th:text="${transaction.sender}"/>
                                <td th:text="${transaction.receiver}"/>
                                <td th:text="${transaction.receiverAddress}"/>
                                <td th:text="${transaction.status.name == 'IN_PROGRESS'} ? 'Sedang Diproses' : 'Terkirim' "/>
                                <td>
                                    <a th:href="@{'/transactions/view/' + ${transaction.id}}" class="btn btn-info">View</a>
                                    <a th:href="@{'/transactions/add/' + ${transaction.id}}" class="btn btn-primary">Edit</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="dataTable-bottom">
                            <div class="dataTable-info">Showing <span
                                    th:text="${transactionPage.getNumberOfElements}"></span> of <span
                                    th:text="${transactionPage.getTotalElements}"/> entries
                            </div>
                            <nav aria-label="Page navigation" class="paging">
                                <ul class="pagination" th:if="${transactionPage.totalPages > 1}">
                                    <li class="page-item"
                                        th:classappend="${!transactionPage.hasPrevious()? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{'/transactions?page=' + ${transactionPage.number}}"
                                           tabindex="-1">Previous</a>
                                    </li>

                                    <li class="page-item"
                                        th:classappend="${!transactionPage.hasNext()? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{'/transactions?page=' + ${transactionPage.number + 2}}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your KPMCargo 2022</div>

                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script th:src="@{'/assets/js/scripts.js'}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script th:src="@{'/assets/js/datatables-simple-demo.js'}"></script>
</body>
</html>
